<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="estilosFinal.css">
</head>
<body>
    <h1>Red social</h1>
    <p>Mis imagenes</p>
    <p>Configuracion</p>
    <input type="text" name="buscar" id="buscar" placeholder="Buscar">
    <input type="button" value="perfil">
    <h2>Recupere su contraseña</h2>
    <p>Ingresar nueva contraseña</p>
    <input type="text" name="nuevaContra" id="nuevaContra">
    <p>Repita la contraseña</p>
    <input type="text" name="nuevaContra2" id="nuevaContra2">
    <p>Ingrese token de 6 digitos recivido en su buzon de entrada</p>
    <input type="text" name="token" id="token">
    <input type="submit" value="Validar contraseña">
    <input type="reset" value="Cancelar">
</body>
</html>