<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro</title>
	<link rel="stylesheet" href="../../webroot/css/bootstrap.min.css">

</head>

<body>

	<script type="text/javascript" src="../../webroot/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../webroot/js/popper.min.js"></script>
	<script type="text/javascript" src="../../webroot/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../webroot/js/includeHtml.js"></script>

	<div w3-include-html="header.html"></div>

	<script>
		includeHTML();
	</script>

	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="card border-dark mb-3" style="max-width: 80rem;">
					<div class="card-header">Registro</div>
					<div class="card-body text-dark">
						<h5 class="card-title">Diligencia toda la información</h5>
						<h5 class="card-title">Los campos con * son obligatorios</h5><br>
						<form>
							<div class="form-group">
								<label for="exampleFormControlInput1">Nombre de usuario *</label>
								<input type="text" class="form-control" id="input1" placeholder="Nombre de usuario">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Contraseña *</label>
								<input type="password" class="form-control" id="input2" placeholder="Contraseña">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Repetir contraseña *</label>
								<input type="password" class="form-control" id="input3"
									placeholder="Repetir contraseña">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Nombre *</label>
								<input type="text" class="form-control" id="input4" placeholder="Nombre0">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Apellido</label>
								<input type="text" class="form-control" id="input5" placeholder="Apellido">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Correo electonico *</label>
								<input type="email" class="form-control" id="input6"
									placeholder="ejemplo@midominio.com">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Telefono</label>
								<input type="text" class="form-control" id="input7" placeholder="Telefono">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Profesion</label>
								<input type="text" class="form-control" id="input8" placeholder="Profesion">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Fecha de nacimiento</label>
								<input type="date" class="form-control" id="input2">
							</div>
							<button type="submit" class="btn btn-primary">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</main>
	<!--
	<center>
		<form action="">
			<div class="color">
				<h1>Registro</h1>
				<p>Los campos marcado con '*' son obligatorios</p>
			</div>
			<input type="text" name="username" placeholder="*Nombre de usuario" style="margin-top:35px;"><br>
			<input type="password" name="pass" placeholder="*Contraseña"><br>
			<input type="password" name="passValidate" placeholder="*Verifique contraseña"><br>
			<input type="text" name="nombre" placeholder="*Nombre"><br>
			<input type="text" name="apellido" placeholder="*Apellido"><br>
			<input type="text" name="email" placeholder="*Email"><br>
			<input type="text" name="telefono" placeholder="Telefono"><br>
			<input type="text" name="profesion" placeholder="Profesion"><br>
			<div style="height:25px;"></div>
			<label>Fecha nacimiento</label><br>
			<input type="date" name="birthdate" placeholder="*Birthdate"><br>
			<div style="height:10px;"></div>
			<input type="submit" name="ENVIAR"
				style="background-color:#3F3C99; color:#FFF; border-radius:20px; width:100px;">
		</form>
	</center>
-->
	<div w3-include-html="footer.html"></div>

	<script>
		includeHTML();
	</script>
</body>

</HTML>