<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir imagen</title>
    <link rel="stylesheet" href="../../webroot/css/estilosFinal.css">
</head>
<body>
    <h1>Red social</h1>
    <p>Mis imagenes</p>
    <p>Configuracion</p>
    <input type="text" name="buscar" id="buscar" placeholder="Buscar">
    <input type="button" value="perfil">
    <img src="../../webroot/img/img10.jpg" alt="">
    <h2>Informacion sobre la imagen</h2>
    <input type="text" name="nombreImg" id="nombreImg" placeholder="Nombre imagen">
    <input type="text" name="tags" id="tags" placeholder="Tags">
    <input type="checkbox" name="visible" id="visible">Desea mostrar la imagen en la web?
</body>
</html>