<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vistaImg</title>
    <link rel="stylesheet" href="../../webroot/css/bootstrap.min.css">
</head>


<body>
    <script type="text/javascript" src="../../webroot/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../webroot/js/popper.min.js"></script>
    <script type="text/javascript" src="../../webroot/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../webroot/js/includeHtml.js"></script>

    <div w3-include-html="header.html"></div>

    <script>
        includeHTML();
    </script>



    <div w3-include-html="footer.html"></div>
    
    <script>
        includeHTML();
    </script>
</body>