<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>

    <link rel="stylesheet" href="../statict/css/bootstrap.min.css">
</head>

<body>

    <script type="text/javascript" src="../statict/js/jquery.min.js"></script>
    <script type="text/javascript" src="../statict/js/popper.min.js"></script>
    <script type="text/javascript" src="../statict/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../statict/js/includeHtml.js"></script>

    <div w3-include-html="header.html"></div>

    <script>
        includeHTML();
    </script>
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card border-dark mb-3" style="max-width: 80rem;">
                    <div class="card-header">Recuperar Contraseña</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Diligencia toda la información</h5><br><br>
                            <form>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputEmail4">Nueva Contraseña<label style="color:#FF0000"
                                        ;>*</label></label>
                                    <input type="password" class="form-control" id="inputEmail4" placeholder="Nueva Contraseña" required> 
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Confirmar Nueva Contraseña<label style="color:#FF0000"
                                        ;>*</label></label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Confirmar Nueva Contraseña" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress">Token<label style="color:#FF0000"
                                    ;>*</label></label>
                                    <div class="row justify-content-center" id="demo">

                                        <script>
                                       // Set the date we're counting down to
                                       var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
   
                                       // Update the count down every 1 second
                                       var x = setInterval(function() {
   
                                       // Get today's date and time
                                       var now = new Date().getTime();
   
                                       // Find the distance between now and the count down date
                                       var distance = countDownDate - now;
   
                                       // Time calculations for days, hours, minutes and seconds
                                       var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                       var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                       var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                       var seconds = Math.floor((distance % (1000 * 60)) / 1000);
   
                                       // Display the result in the element with id="demo"
                                       document.getElementById("demo").innerHTML = "Tiempo restante: "+days + "d " + hours + "h "
                                       + minutes + "m " + seconds + "s ";
   
                                       // If the count down is finished, write some text
                                       if (distance < 0) {
                                           clearInterval(x);
                                           document.getElementById("demo").innerHTML = "EXPIRED";
                                       }
                                       }, 1000);
                                       </script>
                                       
   
                   </div>
                   
                                  <input type="text" class="form-control" id="inputAddress" placeholder="Token" required>
                                </div>
                                <div class="d-flex justify-content-center align-items-center d-flex align-content-start flex-wrap">
                                    <button type="submit" class="btn btn-primary mr-2 mb-1">Cambiar Contraseña</button>
                                    <button type="submit" class="btn btn-primary mb-1">Enviar Token Nuevamente</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div w3-include-html="footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>

</html>