<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/includeHtml.js"></script>

    <div w3-include-html="header.html"></div>

    <script>
        includeHTML();
    </script>
    <main role="main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span aria-hidden="true">&times;</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <style>
            .required-field::after {
                content: "*";
                color: red;
            }
        </style>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card border-dark mb-3" style="max-width: 80rem;">
                    <div class="card-header"><h2>Recuperar Contraseña</h2></div>
                    <div class="card-body text-dark">
                        <h5 class="card-title required-field">Diligencia toda la información requerida</h5><br><br>
                        <form action="{{url_for('recuperarContra')}}" method="POST">
                            {{ form_a.hidden_tag() }}
                            <div class="form-group">
                                <label>{{form_a.email.label}}</label>
                                {{form_a.email(type="email",class="form-control",placeholder="Correo Electronico",autofocus="true")}}
                                {% if form_a.errors.get('email') %}
                                <div style="color:red;">
                                    {{ "".join(form_a.errors.get('email')) }}
                                </div>
                                {% endif %}
                                <br />
                                <label>{{form_a.username.label}}</label>
                                {{form_a.username(type="text" , class="form-control" , placeholder="Nombre de usuario")}}
                                {% if form_a.errors.get('username') %}
                                <div style="color:red;">
                                    {{ "".join(form_a.errors.get('username')) }}
                                </div>
                                {% endif %}
                            </div>

                            <div class="d-flex justify-content-center align-items-center d-flex align-content-start flex-wrap">
                                <button type="submit" class="btn btn-primary mb-1">Enviar Token</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div w3-include-html="footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>

</html>