<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>

<body>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/includeHtml.js"></script>

    <div w3-include-html="header.html"></div>

    <main role="main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card border-dark mb-3" style="max-width: 80rem;">
                    <h3 class="card-header">Formulario de Registro</h3>
                    <div class="card-body text-dark">
                        <h5 class="card-title">
                            Diligencia toda la información <small>
                                (Los campos con <label style="color:#FF0000" ;>*</label> son obligatorios)
                            </small>
                        </h5><br>
                        <style>
                            .required-field::after {
                                content: "*";
                                color: red;
                            }
                        </style>
                        <form action="{{url_for('registro')}}" method="POST">
                            {{ form.csrf_token }}
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label class="required-field">
                                        {{ form.username.label }}
                                    </label>
                                    {{form.username(placeholder='Nombre de usuario',class="form-control") }}
                                    {% if form.errors.get('username') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('username')) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="required-field">
                                        {{ form.password.label }}
                                    </label>
                                    {{ form.password(placeholder='Contraseña',class="form-control",type="password") }}
                                    {% if form.errors.get('password') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('password')) }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="required-field">
                                        {{ form.password_conf.label }}
                                    </label>
                                    {{ form.password_conf(placeholder='Repetir Contraseña',class="form-control",type="password") }}
                                    {% if form.errors.get('password_conf') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('password_conf')) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>{{form.name.label}}</label>
                                    {{ form.name(placeholder='Nombre',class="form-control") }}
                                    {% if form.errors.get('name') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('name')) }}
                                    </div>
                                    {% endif %}


                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>{{form.last_name.label}}</label>
                                    {{ form.last_name(placeholder='Apellido',class="form-control") }}
                                    {% if form.errors.get('last_name') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('last_name')) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="required-field">
                                        {{form.email.label}}
                                    </label>
                                    {{ form.email(placeholder='Email',class="form-control",type="email") }}
                                    {% if form.errors.get('email') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('email')) }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="required-field">
                                        {{form.cellphone.label}}
                                    </label>
                                    {{ form.cellphone(placeholder='Numero de telefono',class="form-control") }}
                                    {% if form.errors.get('cellphone') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('cellphone')) }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label>{{form.profesion.label}}</label>
                                    {{ form.profesion(placeholder='Profesion',class="form-control") }}
                                    {% if form.errors.get('profesion') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('profesion')) }}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>{{form.date.label}}</label>
                                    {{ form.date(placeholder='Fecha de nacimiento',class="form-control",type="date") }}
                                    {% if form.errors.get('date') %}
                                    <div style="color:red;">
                                        {{ "".join(form.errors.get('date')) }}
                                    </div>
                                    {% endif %}
                                </div><br>
                            </div>
                            <button type="submit" class="btn btn-primary">Crear una cuenta</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div w3-include-html="footer.html"></div>

    <script>includeHTML();</script>
</body>

</html>