<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Imagen</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/includeHtml.js"></script>

    <div w3-include-html="header.html"></div>

    <script>
        includeHTML();
    </script>
    <main role="main">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="card border-dark mb-3" style="max-width: 80rem;">
                    <div class="card-header"><h2><b>Subir imagen</b></h2></div>
                        <div class="card-body text-dark">
                            <h5 class="card-title"><b>Diligencia toda la información</b></h5><br><br>
                            <form action="{{url_for('subirImg')}}" method="POST" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label><b>{{form.title.label}}</b></label>
                                        {{form.title(placeholder="Titulo de la imágen",autofocus=true,required="true",class="form-control")}}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label>
                                            <b>{{form.tags.label}}</b> <small>Palabras claves separadas por comas (,)</small>
                                        </label>
                                        {{form.tags(placeholder="Tag's",required="true",class="form-control")}}
                                    </div>
                                </div><br>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <label>
                                                <b>{{form.description.label}}</b>
                                            </label>
                                            {{form.description(placeholder="Escribe una descripción de la imagen",class="form-control",rows="3")}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlFile1"><b>Seleccione imagen a subir</b></label>
                                    <label>
                                        <b>{{form.binary.label}}</b>
                                    </label>
                                    {{form.binary(accept='image/*',class="form-control-file",type="file",required="true")}}
                                </div><br>
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-form-label col-sm-2 pt-0"><b>{{form.public.label}}</b></div>
                                        <div class="col-sm-10">
                                            {{form.public()}}
                                        </div>
                                    </div>
                                </fieldset><br><br>

                                <button class="btn btn-primary" type="submit">Enviar imagen a Artemisia</button>
                            </form>
                        </div>
                   </div>
            </div>
        </div>
    </main>
    <div w3-include-html="footer.html"></div>

    <script>
        includeHTML();
    </script>
</body>

</html>